<% provide(:kind, "Schedules") %>
   <div class="center jumbotron">
  <h1>Schedules</h1>

  <h2>
    This is the schedules page for the
    Brewbook
    application.
  </h2>

  <%= link_to "Brew Schedule", brews_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Cleaning Schedule", cleans_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to 'Back', root_path %>